{extend name="layout/layout"/}

{block name="title"}
首页
{/block}


{block name="content"}
<div class="col-md-12">
    <!--statistics start-->
    <div class="row state-overview">
        <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="panel purple">
                <div class="symbol">
                    <i class="fa fa-gavel"></i>
                </div>
                <div class="state-value">
                    <div class="value">11</div>
                    <div class="title">yy</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="panel purple">
                <div class="symbol">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="state-value">
                    <div class="value">11</div>
                    <div class="title">yy</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="panel purple">
                <div class="symbol">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="state-value">
                    <div class="value">11</div>
                    <div class="title">yy</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="panel green">
                <div class="symbol">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="state-value">
                    <div class="value">11</div>
                    <div class="title">yy</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="panel green">
                <div class="symbol">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="state-value">
                    <div class="value">11</div>
                    <div class="title">yy</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="panel green">
                <div class="symbol">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="state-value">
                    <div class="value">11</div>
                    <div class="title">yy</div>
                </div>
            </div>
        </div>
    </div>
    <!--statistics end-->
</div>
{/block}